  <tr class="alt">
	<td  align="left">{tabla12_fecha_prestamo}</td>
	<td align="left">{tabla12_fecha_a_devolver}</td>	
	<td align="left">{tabla10_titulo}</td>
	<td align="left">{socio}</td>	
	<td align="left">{tabla12_fecha_devolucion}</td>	
    <td align="center"> <a title="Devolver" href="javascript:{funcion_editar};"><img src="media/iconos/folder_img.png" alt="Editar" width="16" hspace="5" border="0"></a> 
								<!-- <a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> --> </td>
  </tr>
