  <h1 align="center">Enviar Consulta </h1>
<p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="20" height="20" border="0"></a>
</p>
<br>
<form name="abm_usuarios" id="abm_usuarios" method="post" >
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr class="alt" align="left" >
   <td>Asunto:</td>
   <td height="30"><input name="sysform03_mail" type="text" id="sysform03_mail" size="50"></td>
 </tr>
 <tr class="alt" align="left" >
   <td>Mensaje</td>
   <td height="30"><textarea name="sysform03_direccion" cols="50" id="sysform03_direccion"></textarea></td>
 </tr>
 </table>
<div id="tabs_btn" align="center">
		<ul>
			<li><a href="javascript:;"  title="Enviar"><span>Enviar</span></a></li>
		</ul>
  </div>
</form>
