<p>&nbsp;</p>
<div id="member">
<p>&nbsp;</p>
  <form action="#" method="post" name="member_log_in" id="member_log_in">
    <h1 align="center">
     Bienvenido
    </h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>    <label>Nombre:</label>
    <input type="text" name="user" class="txtBox" id="user">
    <label>Contrase&ntilde;a:</label>
    <input type="password" name="pass" class="txtBox"  id="pass" onKeyPress="return acceptNum_valida(event)">
</td>
        <td valign="bottom">	<input type="button" name="go" value="Ingresar" class="go" onClick="validar_login();"/></td>
      </tr>
    </table>
	<!--<a href="#" style="	float:right; ">Olvid&oacute; la contrase&ntilde;a?</a> -->
  </form>
</div>
<div id="logo_login" align="center" > <img src="css/images/logo.png" width="30">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center">  Recomendamos Utilizar: <br>
  <a href="http://www.mozilla-europe.org/es/firefox/" title="Clic para descargar instalador" target="_blank"><img src="media/images/mozilla-firefox-logo.jpg" width="40" border="0" >
  </a></p>
</div>


