			

 <p align="center"><strong>Bienvenido: <a href="javascript:cargar_post('modulos/usuarios/php/ver_usuario_abm.php','content','id_tabla01={id_tabla01}&home=1');" title="Editar los datos personales de {sysform03_nombre}">{tabla01_nombre}</a> </strong></p>
	<p align="center">&nbsp;</p>
		<table width="100%" class="home" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr valign="top">
				<td align="center"> 
                    <ul id="iconbar">{MODULOS}</ul>
                </td>
            </tr>
        </table> 
 		<p align="center">&nbsp;</p>
 		<p align="center">&nbsp;</p>
<hr>
<p>&nbsp;</p>
<table class="home" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
<!--     <td width="35%" align="right">             <a href="media/manual.pdf" target="_blank" title="Tutorial" class="sub_icon">
            <img src="media/images/tutoriales.png" width="48" height="48" />
         <br>
         Tutorial</a>       </td> -->
    <td width="10%" align="center">      <a href="php/logout.php" title="Cerrar Sesi&oacute;n" class="sub_icon">
            <img src="media/images/cerrar_session.png" width="48" height="48" />
         <br>
      Cerrar Sesi&oacute;n        </a>       </td>
<!--     <td width="35%" align="left">             
<a href="javascript:;" onClick="
	document.getElementById('popup').innerHTML='';
	$('#popup').dialog({modal: true, overlay:{  opacity: 0.6,  background: 'black'}});
	$('#popup').dialog('open');
	 cargar_get('modulos/login/php/ver_contacto.php','popup');" title="Soporte" class="sub_icon"><img src="media/images/ayuda.png" width="48" height="48" />
         <br>
         Soporte</a>      
    </td> --> 
  </tr>
</table>

<!-- <table class="home" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="35%" align="center">&nbsp;</td>
    <td width="10%" align="center">
             <a href="php/logout.php" title="Cerrar Sesión" class="sub_icon">
            <img src="media/iconos/cerrar_sesion.png" width="48" height="48" />
         <br>
         Cerrar Sesi&oacute;n        </a>       </td>
    <td width="10%" align="center">
         <a href="javascript:;" class="sub_icon" onClick="cargar_post('modulos/usuarios/php/ver_datos_usuario.php','content','');">
            <img src="media/iconos/congifuracion.png" width="40" height="40" />
         <br>
         Datos del Usuario    </a>       </td>
<td width="10%" align="center">
         <a href="javascript:;" class="sub_icon" onClick="cargar_post('modulos/manuales/templates/ver_manuales.html','content','');">
            <img src="media/iconos/manual.png" width="48" height="48" />
         <br>
        Ver Manuales        </a>     
    <td width="35%" align="center">      </tr>
</table>
 --><p align="center">&nbsp;</p>
<p>&nbsp;</p>
<p align="center">&nbsp;</p>
<p>&nbsp;</p>
