<div id="member">
  <form action="#" method="post" name="member_log_in" id="member_log_in">
    <h1 align="center">
     Error
    </h1>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center"> <p>Se ha producido un error al intentar acceder al sistema. Por Favor, corrobore su usuario y contarse&ntilde;a. </p>
        <p><a href="/SIG" target="_self">Clic aqu&iacute; para ingresar nuevamente</a></p></td>
      </tr>
    </table>
	<!--<a href="#" style="	float:right; ">Olvid&oacute; la contrase&ntilde;a?</a> -->
  </form>
</div>

