  <tr class="alt">
    <td  align="left">{tabla99_observacion}</td>
	<td  align="left">{tabla99_fecha_inicio}</td>
	<td align="left">{tabla99_fecha_fin}</td>	
	<td align="left">{rela_tabla16}</td>
	<td align="left">{rela_tabla01}</td>
	<td align="left">{rela_tabla74}</td>
	<td align="left">{rela_tabla71}</td>		
	<td align="left">{tabla99_cantidad}</td>
	<td align="left">{rela_tabla98}</td>	
     <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a> 
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>
