 <script>
				$( "#tabla16_fecha_cosecha,#tabla16_fecha_cosecha" ).datepicker({
					changeMonth: true,
					changeYear: true	
				});
        $( "#tabla16_fecha_siembra,#tabla16_fecha_siembra" ).datepicker({
          changeMonth: true,
          changeYear: true  
        });
</script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    
	<th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{tit}</p></th>
 
    <th colspan="5" align="center"><p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="16"  border="0"></a></p></th>
  </tr>

</table>

<form name="abm_cultivo" id="abm_cultivo">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr class="alt" align="left" >
   <td width="24%">Fecha Siembra:</td>
   <td width="76%" ><input name="tabla16_fecha_siembra" type="text" id="tabla16_fecha_siembra" value="{tabla16_fecha_siembra}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 <tr class="alt" align="left" >
   <td width="24%">Fecha Cosecha:</td>
   <td width="76%" ><input name="tabla16_fecha_cosecha" type="text" id="tabla16_fecha_cosecha" value="{tabla16_fecha_cosecha}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
  <tr class="alt" align="left" >
    <td>Variedad:</td>
    <td ><select name="rela_tabla15" id="rela_tabla15" class="obligatorio" style="height:auto; width:300px;">
       <option value="">Seleccione..</option>
       
         
        
			{VARIEDAD}
        
      
   
     
   </select></td>
  </tr>
  <tr class="alt" align="left" >
    <td>Parcelas:</td>
    <td ><select name="rela_tabla65" id="rela_tabla65" class="obligatorio" style="height:auto; width:300px;">
      <option value="">Seleccione..</option>
      
       
         
        
			{PARCELA}
        
      
   
     
   
    </select></td>
  </tr>
 </table>
 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
   <td align="right"><input class="button_login" type="button" onClick="javascript:;{funcion_guardar}" value="Aceptar" tabindex="3" name="Submit" title="Guardar"></td>
   <td align="left"><input class="button_login" type="button" onClick="javascript:;{funcion_cancelar}" value="Cancelar" tabindex="3" name="Submit" title="Cancelar"></td>
 </tr>  
 </table>
</form>
