<script>
	//Valido Solo Caracteres
	//Valido Solo Números
	$('#nombre_tour').alpha();
        $( "#tabla16_fecha_siembra,#tabla16_fecha_siembra" ).datepicker({
          changeYear: true,
          changeMonth: true  
        });

</script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{titulo}</p></th>
  </tr>
  <tr class="alt">
	<td width="71%" ><a title="Agregar" href="javascript:{funcion_agregar};"><img src="media/iconos/add.png" alt="Nuevo" width="16" border="0" class="mimage"><strong> Agregar</strong> </a></td>
    <td width="24%" align="right" valign="middle"><strong>Cultivos cargados: </strong>{cantidad}</td>
  </tr>
</table>
<br>
<form name="ver_busqueda_cultivo" id="ver_busqueda_cultivo">
<table width="100%"  border="0" cellpadding="0" cellspacing="0">
    <tr align="left" >
      <th>Buscador</th>
      <th  align="right"><a title="Abrir Buscador" href="javascript:;" onClick="$('#formulario_tours').toggle();"><img src="media/iconos/down.png" alt="Nuevo" width="16" border="0" class="mimage"></a></th>
    </tr>
</table>
<table width="100%"  border="0" cellspacing="0" cellpadding="0" id="formulario_tours" style="display:">
	
    <tr class="alt" align="left" >
    <td height="30" colspan="3">Fecha de siembra: 
      <input type="text" name="tabla16_fecha_siembra" id="tabla16_fecha_siembra"  onChange="{funcion_busqueda}"  tabindex="1"/></td>
    </tr>
    <tr class="alt" align="left" >
      <td width="40%" height="30">    
      <td width="26%"><input name="buscar" type="button" class="button_login" id="buscar" value="Buscar" onClick="{funcion_busqueda};" />
        <input name="buscar" type="button" class="button_login" id="buscar" value="Limpiar" onClick="$('#ver_busqueda_cultivo').reset();{funcion_busqueda};" /></td>
      <td width="34%" id="info_cultivo"></td>
    </tr>
</table>
</form>
<p>&nbsp;</p>
<div id="listado_cultivo">
<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tabla_highlight">
  <tr>
    <th  align="left">Fecha de Siembra</th>
	<th align="left">Fecha de Cosecha </th>
	<th align="left">Variedad </th>
	<th align="left">Parcela N&ordm; </th>
    <th align="center" >Acciones </th>
  </tr>
{LISTADO}
</table>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
  <tr align="center">
    <td colspan="3">{paginas} </td>
  </tr>
</table>
</div>
