<h1 align="center">Perfiles</h1>
<p align="right">&nbsp;</p>
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" align="right" nowrap><a title="Cerrar" href="javascript:cargar_get('modulos/login/php/cargar_modulos.php','tabs-$id_tablamodulo');"><img src="media/iconos/cerrar.png" width="20" height="20" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" align="center" nowrap><p>&nbsp;</p>
    <p>No existen perfiles creados</p>
    <p><a title="Agregar Nuevo Perfil" href="javascript:{funcion_agregar};"><img src="media/iconos/add.png" alt="Nuevo" width="20" height="20" border="0"></a> <a title="Agregar Nuevo Perfil" href="javascript:{funcion_agregar};">Agregar perfil </a></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p></td>
  </tr>
</table>

