  <tr class="alt">
    <td align="left">{tabla03_nombre}</td>
    <td align="left"><a href="javascript:;" title="Módulos asociados al perfil" onClick="
	$('#popup').innerHTML='';
	$('#popup').dialogr({modal: true,title : 'M&oacute;dulos asociados a {tabla03_nombre}', overlay:{  opacity: 0.6,  background: 'black'}});
	$('#popup').dialogr('open');
	 {ver_modulos}"><img src="media/iconos/windows.png" alt="Ver Módulos" width="12" hspace="5" border="0"></a></td>
    <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a>
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>
