  <tr class="alt">
    <td align="left">{tabla02_nombre}</td>
    <td align="center">{tabla04_alta}</td>
    <td align="center">{tabla04_baja}</td>
    <td align="center">{tabla04_modificacion}</td>
    <td align="center">{tabla04_reporte}</td>
    <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a> 
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>

