<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{titulo}</p></th>
  </tr>
  <tr class="alt">
	<td width="71%" ><a title="Agregar" href="javascript:{funcion_agregar};"><img src="media/iconos/add.png" alt="Nuevo" width="16" border="0" class="mimage"><strong> Agregar</strong> </a></td>
    <td width="24%" align="right" valign="middle"><strong>Perfiles cargados: </strong>{cantidad}</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
  <tr>
    <th width="45%" align="left">Perfil</th>
    <th width="35%" align="left">M&oacute;dulos Asociados </th>
    <th align="center" width="15%">  Acciones </th>
  </tr>
{LISTADO}
  <tr align="center">
    <td colspan="3">{paginas} </td>
  </tr>
</table>

