  <tr class="alt">
    <td  align="left">{tabla12_nombre_empresa}</td>
	<td align="left">{rela_tabla09}</td>
	<td  align="left">{tabla12_dni_nif}</td>
	<td align="left">{tabla12_num_carne}</td>	
	<td align="left">{tabla12_email}</td>	
	<td align="left">{tabla12_telefono}</td>	
	<td align="left">{tabla12_direccion}</td>	
	<td align="left">{tabla12_comentario}</td>	
     <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a> 
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>
