 
 <script type="text/javascript">
$('input, select').keypress(enter2tab);
$(document).ready(function() {
    $("#tabla09_descripcion").focus();
   //$("input, textarea").placeholder();
  //Valido Solo Caracteres
  $('#tabla09_descripcion').alpha({allow:" "});
  //Valido Solo Números

    //
    $('#tabla09_código').numeric({allow:"-"});
});
</script>
<script type="text/javascript">
function funcion_guardar()
{
this.document.location.href = "modulos/arbol_ubicacion_geografica/php/abm_arbol_ubicacion_geografica_interfaz.php";
}
</script>
<script type="text/javascript">
function codigopostal(){
        var combo = document.getElementById("rela_tabla10");
        var selected = combo.options[combo.selectedIndex].value;
        var opcion;
        alert("z");
        if (selected=="1"){
            opcion="<tr class='alt' align='left' >   <td><strong>Código Postal:</strong></td>   <td><input name='tabla09_código' style='width:200px; text-transform:uppercase;'' type='text' class='obligatorio' id='tabla09_código'  size='48'  tabindex="3" placeholder='Obligatorio' >     </td>   </tr> "
        } else if (selected==""){
            opcion=""
        } ;
        document.getElementById("codigo").innerHTML = opcion;
    };
</script>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{tit}</p></th>
 
    <th colspan="5" align="center"><p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="20" height="20" border="0"></a></p></th>
  </tr>
</table>
<form name="abm" id="abm" method="post" enctype="multipart/form-data" action="modulos/arbol_ubicacion_geografica/php/abm_ubicacion_geografica_interfaz.php" target="iframeUpload">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr align="left" class="alt">
     <td align="left">Padre :</td>
     <td height="30" valign="top"><select name="rela_padre" id="rela_padre" class="obligatorio">
       <option value="0" selected>Ninguno</option>
        <option value="1">País </option>
     <option value="2">Provincia </option>
     <option value="3">Departamento </option>
     </select></td>
 </tr>
 <tr class="alt" align="left" >
   <td>Descripción:</td>
   <td height="30"><input name="tabla09_descripcion" type="text" id="tabla09_descripcion" class="obligatorio" placeholder='Obligatorio' size="50"></td>
 </tr>
 <tr class='alt' align='left' >   <td>Orden:</td>   <td><input name='tabla09_código' style='width:200px; text-transform:uppercase;'' type='text' class='obligatorio' id='tabla09_código'  size='48'  tabindex="3" >     </td>   </tr>
 
 
   <td align="right"><input class="button_login" type="button" onClick="javascript:;{funcion_guardar}" value="Aceptar" tabindex="3" name="Submit" title="Guardar"></td>
   <td align="left"><input class="button_login" type="button" onClick="javascript:;{funcion_cancelar}" value="Cancelar" tabindex="3" name="Submit" title="Cancelar"></td>
 </tr>  
 </table>
</form>
 <iframe name="iframeUpload" style="display:none"></iframe>
 <p>&nbsp;</p>