<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="5%" align="center" valign="middle">
<!-- 	<a href="javascript:;" onclick="print_datos();" title="Imprimir"><img src="media/iconos/imprimir.gif" alt="imprimir" width="30" height="30" border="0" /></a>
 -->	
<!--  	<a href="modulos/control/php/exportar_pdf.php" target="_blank"  title="Imprimir"><img src="media/images/acroread.png" alt="imprimir" width="30" height="30" border="0" /></a>
 --> </td>
    <td width="52%" valign="middle">&nbsp;</td>
    <td align="right" valign="middle">Cantidad de Registros : {cantidad}</td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="1" cellspacing="1"  class="tabla_highlight">
  <tr>
    <th  align="left">Fecha - Hora</th>
    <th  align="left">Usuario</th>
    <th  align="left">Acci&oacute;n</th>
    <th  align="left">Operaci&oacute;n</th>
    <th  align="left">Resultado</th>
    <th  align="left">M&oacute;dulo</th>
    <th  align="left">Ver Datos</th>	
  </tr>
 {LISTADO}
 </table>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
 <tr>
    <td colspan="7"  align="center">{paginas} </td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

