<div id="print_datos">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr class="alt" align="left" >
   <th colspan="2" align="left"> Usuario: {tabla01_usuario} - {tabla01_nombre}</th>
  </tr>
 <tr class="alt" align="left" >
   <td width="33%" align="left"><strong> M&oacute;dulo:</strong></td>
   <td width="67%"> 
{tabla02_nombre}</td>
 </tr>
  <tr class="alt" align="left" >
   <td align="left"><strong>Operaci&oacute;n:</strong></td>
   <td>{tabla05_operacion}</td>
 </tr>
 
 
  <tr class="alt" align="left" >
   <td align="left"><strong>Fecha - Hora:</strong></td>
   <td>{tabla05_fecha} - {tabla05_hora}</td>
 </tr>
 
 <tr class="alt" align="left" >
   <td align="left"><strong>Mensaje: </strong></td>
   <td>{tabla05_mensaje}</td>
 </tr>
 
  <tr class="alt" align="left" >
   <td align="left"><strong>Datos:</strong></td>
   <td>{tabla05_descripcion}</td>
 </tr>
 </table>
</div>
<!--   <p align="center"><a href="javascript:;" onclick="print_datos();" title="Imprimir"><img src="media/iconos/imprimir.gif" alt="imprimir" width="30" height="30" border="0" /></a></p>
 -->
