  <tr class="alt">
    <td align="left"><img src="{tabla02_imagen}" alt="icono" width="16" hspace="5" border="0"></td>
    <td align="left">{tabla02_nombre}</td>
    <td align="left">{tabla02_nombre_padre}</td>
    <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a> 
						<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>

