  <tr class="alt">
    <td  align="left">{Fitosanitario_Nombre}</td>
	<td  align="left">{Fitosanitario_Fabricante}</td>
	<td align="left">{Cantidad_Agua}</td>	
	<td align="left">{Rela_tabla21}</td>
	<td align="left">{Rela_tabla33}</td>	
	<td align="left">{Fitosanitario_Fecha_caducidad}</td>	
	<td align="left">{Rela_tabla19}</td>	
	<td align="left">{Rela_tabla20}</td>	
     <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="../../../media/iconos/edit.png" alt="Editar" width="24" height="24" hspace="5" border="0"></a> 
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="../../../media/iconos/del_1.png" alt="Eliminar" width="24" height="24" hspace="5" border="0"></a> </td>
  </tr>
