<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="20%">&nbsp;</td>
    <td align="right" class="rowB"><a href="javascript:;" onClick="{funcion_cerrar}">Cerrar</a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="30" class="rowB">No hay perfiles asociados al usuario</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="99" class="rowB"><a href="javascript:{funcion_agregar};"><img hspace="20" src="media/iconos/add.png" alt="Nuevo" width="16" height="16" border="0"></a><a href="javascript:{funcion_agregar};">Agregar Perfil </a></td>
  </tr>
</table>