  <tr class="alt">
	<td align="left">{fincanombre}</td>
	<td align="left">{titularnombre}</td>
	<td align="left">{tabla63_tiporepresentante}</td>
	<td align="left">{tabla67_descrip}</td>
	<td align="left">{tabla63_entidadcertificadora}</td>
	<td align="left">{tabla63_areatotal}</td>
    <td align="center">
		<a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a>
		<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a>
	</td>
  </tr>
