 <!-- <script>
				$( "#tabla10_fecha_entrada,#tabla10_fecha_entrada" ).datepicker({
					changeMonth: true,
					changeYear: true
				});
</script> -->

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>

	<th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{tit}</p></th>

	<th colspan="5" align="center"><p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="16"  border="0"></a></p></th>
  </tr>

</table>

<form name="abm_finca" id="abm_finca">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
</tr>
 <tr class="alt" align="left" >
	<td>Nombre de la finca</td>
	<td ><select name="rela_tabla70_finca" id="rela_tabla70_finca" class="obligatorio" style="height:auto; width:300px;">
		<option value="">Seleccione..</option>
			{FINCANOMBRES}
  </select></td>
 </tr>

 <tr class="alt" align="left" >
	<td>Nombre del titular</td>
	<td ><select name="rela_tabla70_titular" id="rela_tabla70_titular" class="obligatorio" style="height:auto; width:300px;">
		<option value="">Seleccione..</option>
			{TITULARNOMBRES}
  </select></td>
 </tr>

 <tr class="alt" align="left" >
	<td width="24%">Tipo de representante</td>
	<td width="76%" ><input name="tabla63_tiporepresentante" type="text" id="tabla63_tiporepresentante" value="{tabla63_tiporepresentante}" size="50"></td>
 </tr>
  <tr class="alt" align="left" >
	<td>Tipo de certificación</td>
	<td ><select name="rela_tabla67" id="rela_tabla67" style="height:auto; width:300px;">
		<option value="">Seleccione..</option>
			{TIPOSCERTIFICA}
	</select></td>
  </tr>
  <tr class="alt" align="left" >
	<td width="24%">Entidad certificadora</td>
	<td width="76%" ><input name="tabla63_entidadcertificadora" type="text" id="tabla63_entidadcertificadora" value="{tabla63_entidadcertificadora}" size="50"></td>
  </tr>
	<tr class="alt" align="left" >
	<td width="24%">Área total</td>
	<td width="76%" ><input name="tabla63_areatotal" type="number" id="tabla63_areatotal" value="{tabla63_areatotal}" size="20" step="0.01" min="0"  ></td>
 </tr>

 </table>
 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
	<td align="right"><input class="button_login" type="button" onClick="javascript:;{funcion_guardar}" value="Aceptar" tabindex="3" name="Submit" title="Guardar"></td>
	<td align="left"><input class="button_login" type="button" onClick="javascript:;{funcion_cancelar}" value="Cancelar" tabindex="3" name="Submit" title="Cancelar"></td>
 </tr>
 </table>
</form>
