<table width="100%" border="0" cellpadding="1" cellspacing="1">
  <tr>
		<th  align="left">Nro Leg.</th>
		<th   align="left">Apellido/s y Nombre/s</th>
		<th align="center">Edad</th>
		<th align="left">DNI</th>
		<th  align="left">Tel. Fijo</th>
		<th  align="left">Celular</th>
		<th align="left">Domicilio</th>
		<th   align="left">Fotografia</th>
		<th align="center" width="18%">  Acciones </th>
	{LISTADO}
</table>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
  <tr align="center">
    <td colspan="9">{paginas} </td>
  </tr>
</table>
