<script>

$('#nombre_tour').alpha();
</script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    
	<th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{tit}</p></th>
 
    <th colspan="5" align="center"><p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="16"  border="0"></a></p></th>
  </tr>

</table>

<form name="abm_editoriales" id="abm_editoriales">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
 <tr class="alt" align="left" >
   <td width="24%">Tema:</td>
   <td width="76%" ><input name="tabla11_nombre" type="text" id="tabla11_nombre" value="{tabla11_nombre}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 <tr class="alt" align="left" >
   <td width="24%">Descripcion:</td>
   <td width="76%" ><input name="tabla11_descripcion" type="text" id="tabla11_descripcion" value="{tabla11_descripcion}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>

 </table>
 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
   <td align="right"><input class="button_login" type="button" onClick="javascript:;{funcion_guardar}" value="Aceptar" tabindex="3" name="Submit" title="Guardar"></td>
   <td align="left"><input class="button_login" type="button" onClick="javascript:;{funcion_cancelar}" value="Cancelar" tabindex="3" name="Submit" title="Cancelar"></td>
 </tr>  
 </table>
</form>
