   <script>
        $( "#tabla23_fecha_mantenimiento,#tabla23_fecha_mantenimiento" ).datepicker({
          changeMonth: true,
          changeYear: true  
        });
</script>

   <script>
        $( "#tabla23_fecha_trabajo,#tabla23_fecha_trabajo" ).datepicker({
          changeMonth: true,
          changeYear: true  
        });
</script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    
  <th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{tit}</p></th>
 
    <th colspan="5" align="center"><p align="right"><a title="Cerrar" href="javascript:{funcion_cancelar};"><img src="media/iconos/cerrar.png" width="16"  border="0"></a></p></th>
  </tr>

</table>

<form name="abm_mantenimiento" id="abm_mantenimiento">
<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">

<tr class="alt" align="left" >
    <td>Maquinas:</td>
    <td ><select name="rela_tabla22" id="rela_tabla22" class="obligatorio" style="height:auto; width:300px;">
       <option value="">Seleccione..</option>
       
         
        
    <   {MAQUINAS}
        
      
   
     
   </select></td>
  </tr>

 <tr class="alt" align="left" >
   <td width="24%">Descripci&oacute;n:</td>
   <td width="76%" ><input name="tabla23_descripcion" type="text" id="tabla23_descripcion" value="{tabla23_descripcion}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 <tr class="alt" align="left" >
   <td width="24%">Fecha de Mantenimiento:</td>
   <td width="76%" ><input name="tabla23_fecha_mantenimiento" type="text" id="tabla23_fecha_mantenimiento" value="{tabla23_fecha_mantenimiento}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
<tr class="alt" align="left" >
   <td width="24%">Estado:</td>
   <td width="76%" ><input name="tabla23_estado" type="text" id="tabla23_estado" value="{tabla23_estado}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 <tr class="alt" align="left" >
   <td width="24%">Fecha de Trabajo:</td>
   <td width="76%" ><input name="tabla23_fecha_trabajo" type="text" id="tabla23_fecha_trabajo" value="{tabla23_fecha_trabajo}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 

 <tr class="alt" align="left" >
   <td width="24%">Observaci&oacute;n:</td>
   <td width="76%" ><input name="tabla23_observacion" type="text" id="tabla23_observacion" value="{tabla23_observacion}" size="50" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
  
  

 <!-- <tr class="alt" align="left" >
    <td>Maquinas</td>
    <td ><select name="rela_tabla22" id="rela_tabla22" class="obligatorio" style="height:auto; width:300px;">
      <option value="">Seleccione..</option> 
      -->
       
         
        
      <!--{MAQUINAS}
      
   
    </select></td>
  </tr>
  
  <tr class="alt" align="left" >
   <td width="24%">Fecha entrega:</td>
   <td width="76%" ><input name="tabla23_fecha_entrada" type="text" id="tabla10_fecha_entrada" value="{tabla10_fecha_entrada}" size="15" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 <tr class="alt" align="left" >
   <td width="24%">Tomo:</td>
   <td width="76%" ><input name="tabla10_tomo" type="text" id="tabla10_tomo" value="{tabla10_tomo}" size="20" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
  <tr class="alt" align="left" >
   <td width="24%">Cantidad:</td>
   <td width="76%" ><input name="tabla10_cantidad" type="number" id="tabla10_cantidad" value="{tabla10_cantidad}" size="20" class="obligatorio" placeholder="Obligatorio"   ></td>
 </tr>
 -->

 
 </table>
 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
   <td align="right"><input class="button_login" type="button" onClick="javascript:;{funcion_guardar}" value="Aceptar" tabindex="3" name="Submit" title="Guardar"></td>
   <td align="left"><input class="button_login" type="button" onClick="javascript:;{funcion_cancelar}" value="Cancelar" tabindex="3" name="Submit" title="Cancelar"></td>
 </tr>  
 </table>

 </form>
