<tr class="alt">
	<td align="left">{tabla64_nombrepredio}</td>
	<td align="left">{tabla65_numero}</td>
	<td align="left">{tabla65_limites}</td>
	<td align="left">{rela_tabla09}</td>
	<td align="left">{tabla66_descrip}</td>
	<td align="left">{tabla65_tieneregadio}</td>
	<td align="left">{tabla65_areatotal}</td>
	<td align="center">
		<a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a>
		<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a>
	</td>
</tr>
