<meta charset="utf-8" />
<tr class="alt">
    <td align="left">{tabla22_imagen}</td>
	<td align="left">{tabla22_nombre}</td>
	<td align="left">{tabla10_descripcion}</td>	
	<td align="left">{tabla22_marca}</td>
	<td align="left">{tabla22_modelo}</td>	
	<td align="left">{tabla22_fecha_compra}</td>	
	<td align="left">{tabla22_costo_compra}</td>	
	<td align="left">{tabla22_matricula}</td>	
    <td align="left">{tabla22_empresa_seguro}</td>
    <td align="left">{tabla22_rto}</td>
    <td align="left">{tabla22_funcion}</td>
     <td align="center"> <a title="Editar" href="javascript:{funcion_editar};"><img src="media/iconos/edit.png" alt="Editar" width="16" hspace="5" border="0"></a> 
								<a title="Elminar" href="javascript:{funcion_borrar};"><img src="media/iconos/del.png" alt="Eliminar" width="16" hspace="5" border="0"></a> </td>
  </tr>
