<!-- <table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th colspan="5" align="center"><p style="font-weight: bold; color:#000000;text-shadow: 0.1em 0.1em #CCCCCC;">{titulo}</p></th>
  </tr>
  <tr class="alt">
	<td width="71%" ><a title="Agregar" href="javascript:{funcion_agregar};"><img src="media/iconos/add.png" alt="Nuevo" width="16" border="0" class="mimage"><strong> Agregar</strong> </a></td>
    <td width="24%" align="right" valign="middle"><strong>Tours cargadas: </strong>{cantidad}</td>
  </tr>
</table>
<p>&nbsp;</p>--> 
<meta charset="utf-8" />
<table width="100%" border="0" cellpadding="1" cellspacing="1" class="tabla_highlight">
  <tr>
	<th align="left">Nombre </th>
	<th align="left">Descripción </th>
	<th align="left">Marca</th>
	<th align="left">Modelo</th>
	<th align="left">Fecha Compra</th>
	<th align="left">Costo Compra</th>
	<th align="left">Matricula</th>
    <th align="left">Empresa Seguro</th>
    <th align="left">RTO</th>
    <th align="left">Función</th>
    <th align="center" >Acciones </th>
  </tr>
  
{LISTADO}
</table>
<table width="100%" border="0" cellpadding="1" cellspacing="1">
  <tr align="center">
    <td colspan="10">{páginas} </td>
  </tr>
</table>

